@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");

.welcome {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 900px;
  margin: auto;
  align-items: center;

  position: relative;
}

.loginRegisterContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;

  background: #ffffff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.headerline {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 25px;
  min-width: 250px;
  align-items: baseline;
}

.headerS {
  line-height: 28px;
  font-size: 24px;
  margin: 0 0 25px 0;
}
.headerText {
  line-height: 23px;
  font-size: 17px;
  white-space: pre-wrap;
}

.text {
  line-height: 23px;
  font-size: 15px;
  white-space: pre-wrap;
  cursor: pointer;
  margin-bottom:5px;
}
