@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");

.welcome {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 900px;
  margin: auto;
  align-items: center;

  position: relative;
}

.loginRegisterContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  background: #ffffff;
  max-width: 950px;
  min-width: 400px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 450px;
  margin: 15px;
  padding: 10px;
  min-width: 350px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.headerline {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 25px;
  min-width: 250px;
  align-items: baseline;
  white-space: pre-wrap;
}

.headerS {
  line-height: 28px;
  font-size: 24px;
  margin: 0 0 25px 0;
}
.headerText {
  line-height: 23px;
  font-size: 17px;
  white-space: pre-wrap;
}

.text {
  line-height: 23px;
  font-size: 15px;
  white-space: pre-wrap;
  cursor: pointer;
  margin-bottom: 5px;
}

.politika {
  display: flex;
  white-space: pre-wrap;
}
